@import "./../../../style/variable.scss";

.carousel-home {
  background-image: url(../../../assets/images/banner/banner-bg.jpg);
  min-height: 100vh;
  background-size: cover;

  &__img {
    background-size: cover;
    margin-top: 100px;
  }

  &__content {
    margin-top: 100px;
    h2 {
      font-size: 6rem;
      font-weight: bold;
    }
    p {
      color: $font-dark;
      margin-bottom: 40px;
    }
  }
}
