@import "../../../style/global.scss";

.products-page {
  &__category {
    padding: 12px;
    &__item {
      font-size: 1.6rem;
      padding: 6px;
      cursor: pointer;
      border-bottom: 1px solid #eee;
      @include transition();
      &:hover {
        color: $color-primary;
      }
    }
    .active {
      color: $color-primary;
    }
  }
}
