$color-primary: rgba(255, 181, 0, 1);
$color-second: rgba(255, 110, 0, 1);
$color-overlay: rgba(0, 0, 0, 0.5);
$color-star: rgb(255, 238, 88);
$silver: silver;
$yellow: #f5bd10;
$red: #ff0000;
$black: #202020;
$black-1: #0000006b;
$font-dark: #363636;
$shadow: #0000003d;
$bg-dark-light: #f7f7f7;
$white: #fff;
$border-color-1: #dee2e6;
$border-color: rgba(255, 255, 255, 0.1);
$black-dark: #252525;
$new-red: #e61010;
$green: #0685ca;
$bg-modal: #ebebeb;
$black-dark: #252525;
$black-shadow: #0000003d;
$yellow-dark: #c6990e;
$red-light: #fe6d4c;
$bg-dark-light-transparent: #acacac8c;
$facebook-color: #5776cd;
$font-normal: "Roboto", sans-serif;

$breakpoints: (
  sm: 576px,
  mdC: 767px,
  md: 768px,
  normal: 991px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
